.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Product-page {
  display:flex;
  padding: 20px 60px;
}

.Product-image {
  flex: 50%;
  margin: auto;
}

.Product-details {
  flex: 50%;
  padding: 0 20px;
}

.main-product-image {
  width: 100%;
}

.features-button {
  font-size: medium;
  padding: 5px 20px;
  margin: 0 5px;
  border-radius: 5px;
  border-style:none;
}

.features-button.time{
  color: white;
  background-color: grey;
}

.features-button.heart-rate{
  color: black;
  background-color: rgb(201, 195, 195);
}

.buy-now-button {
  font-size: medium;
  font-weight: bold;
  margin: 20px 10px;
  padding: 10px 40px;
  display: block;
  color: white;
  background: rgb(70, 142, 236);
  border-style: none;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
